input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  background: rgba(#232323, 0.6);
  color: #fff;
  padding: 10px 15px;
  box-shadow: 0 0 10px 0 rgba(#000, 0.5);
  backdrop-filter: blur(4px);
}

button {
  width: 100%;
  border: none;
  background: #F65261;
  color: #fff;
  border-radius: 4px;
  padding: 10px 15px;
  text-transform: uppercase;
  &:focus {
    outline: none;
  }
}
